.DS_store
.ipynb_checkpoints/
folder_to_ignore/1_dem_reproj_m
folder_to_ignore/1_points_reproj_m
folder_to_ignore/2_dem_fill
folder_to_ignore/3_d8_pointers
folder_to_ignore/4_d8flowacc_catch_area
folder_to_ignore/5_streams
folder_to_ignore/6_watersheds
folder_to_ignore/7watersheds_cleanup
folder_to_ignore/8_watercheds_clean_u
folder_to_ignore/11_zonalstats_new
/outlines/12_rgi60_CaucasusMiddleEast_hypso.csv
/outlines/13_rgi60_CentralAsia_hypso.csv
/outlines/14_rgi60_SouthAsiaWest_hypso.csv
/outlines/15_rgi60_SouthAsiaEast_hypso.csv

*.xml
*.tif
*.xlsx
*.qgz
*.shp
*.cpg
*.dbf
*.prj
*.qmd
*.shx

